[submodule "coins/bitcoin"]
	path = coins/bitcoin
	url = https://github.com/bitcoin/bitcoin.git
[submodule "coins/litecoin"]
	path = coins/litecoin
	url = https://github.com/litecoin-project/litecoin.git
[submodule "coins/feathercoin"]
	path = coins/feathercoin
	url = https://github.com/FeatherCoin/FeatherCoin.git
[submodule "src/php-mpos"]
	path = src/php-mpos
	url = git@github.com:TheSerapher/php-mpos.git
